.griffithgothiclight {
    font-family: "Griffith Gothic Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.griffithgothicregular {
    font-family: "Griffith Gothic Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url('../../font/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
    url('../../font/AtlasGrotesk-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
.AtlasGrotesk-Regular-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url('../../font/AtlasGrotesk-Light-Web.woff2') format('woff2'),
    url('../../font/AtlasGrotesk-Light-Web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
.AtlasGrotesk-Light-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}


// @font-face {
//     font-family: 'Atlas-Grotesk-Web-Regular';
//     src: url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.eot');
//     src: url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.woff2') format('woff2'),
//         url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.woff') format('woff'),
//         url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.ttf') format('truetype'),
//         url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.svg#Atlas-Grotesk-Web-Regular') format('svg'),
//         url('../../font/Atlas-Grotesk-Web-Regular/Atlas-Grotesk-Web-Regular.eot?#iefix') format('embedded-opentype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Atlas-Grotesk-Web-Light';
//     src: url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.eot');
//     src: url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.woff2') format('woff2'),
//         url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.woff') format('woff'),
//         url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.ttf') format('truetype'),
//         url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.svg#Atlas-Grotesk-Web-Light') format('svg'),
//         url('../../font/Atlas-Grotesk-Web-Light/Atlas-Grotesk-Web-Light.eot?#iefix') format('embedded-opentype');
//     font-weight: normal;
//     font-style: normal;
// }


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    @include transition(.3s ease);
}

h1,h2,h3,h4,h5,a,p,span,input,button{
    @include transition(.3s ease-in-out);
    z-index: 1;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-wrap-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-wrap-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-down{
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -76px;
}

.pd70{
    padding: 70px 0;
    transition-property: all;
    transition-duration: .5s;
}
.bigHeader{
    padding: 70px 0;
    transition-property: all;
    transition-duration: .5s;
}
.darkBlackBG{
    background: #0A253D;
    transition-property: all;
    transition-duration: .3s;
}
.transparent{
    background: transparent !important;
    transition-property: all;
    transition-duration: .5s;
}

.overlay-body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -9;
    
    &.active{
        background: rgba(0, 0, 0, 0.85) !important;
        z-index: 9;
    }
}
.bodyOverflowHidden{
    //position: fixed;
    overflow:hidden;
}

// header
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 0;
    @include transition(.2s ease-in-out);

    .container{
        padding: 0px 100px;
        
        .logo-wrap{
            a{
                display: block;
            }
        }
        .menu-wrap{
            ul{
                li{
                    color: #fff;
                    font-size: 17px;
                    line-height: 26px;

                    &.line{
                        margin: 0 30px;
                        width: 1px;
                        height: 34px;
                        opacity: 0.3;
                        background-color: #fff;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .burger-menu {
            display: none;
            .menuBar {
                display: inline-block;
                padding: 5px 0 15px;
                line-height: 0;
                cursor: pointer;
                display: block;
                span {
                    position: relative;
                    width: 25px;
                    height: 2px;
                    background: #fff;
                    -webkit-transition: 0.25s;
                    transition: 0.25s;
                    border-radius: 4px;
                    display: inline-block;
                    &::before,
                    &::after {
                        position: absolute;
                        content: '';
                        display: block;
                        height: 2px;
                        width: 25px;
                        background: #fff;
                        z-index: -1;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        -webkit-transform: rotate(0);
                        transform: rotate(0);
                        border-radius: 4px;
                    }
                    &::before {
                        top: 7px;
                    }
                    &::after {
                        bottom: 7px;
                    }
                    &.open {
                        background-color: transparent;
                        &::before {
                            -webkit-transform: rotate(40deg);
                            transform: rotate(40deg);
                            top: 0;
                        }
                        &:after {
                            -webkit-transform: rotate(-40deg);
                            transform: rotate(-40deg);
                            top: 0;
                        }
                    }
                }
            }
        }

    }
}

// Section 1
section.banner{
    position: relative;
    height: 100%;
    overflow: hidden;

    .parallax{
        background: url(../../images/banner.jpg) no-repeat top;
        //background-size: cover;
        height: 100vh;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .box-shadow{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.43) 99.92%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .container{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        z-index: 1;
        //position: relative;
        //overflow: hidden;

        
        h1{
            @extend .griffithgothicregular;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            z-index: 1;
            width: 100%;
            height: 100%;
            //height: 294px;
            font-size: 40px;
            line-height: 60px;
            //margin-bottom: 125px;
            color: #fff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            br{
                display: none;
            }
        }
        .block-wrap{
            width: 100%;
            .block{
                z-index: 1;
                width: 100%;
                .box{
                    width: 270px;
                    padding: 60px 40px 40px;
                    background: linear-gradient(180deg, #FAF8F2 0%, rgba(250, 248, 242, 0.532425) 83.91%);
                    margin: 0 auto;

                    p.title{
                        font-size: 12px;
                        line-height: 13px;
                        letter-spacing: 1.125px;
                        text-transform: uppercase;
                        color: #082645;
                        padding-bottom: 12px;
                    }
                    p{
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 11px;
                        line-height: 20px;
                        color: #082645;
                    }
                }
            }
        }
    }
}


// section 2
section.best{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fbf8f3;

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        

        h2{
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 1.41176px;
            text-transform: uppercase;
            color: #0C2E4F;
            margin-bottom: 50px;

        }
    }
    
}


// section 3
section.private{
    background-color: #ffffffc1;

    .container{
        max-width: 1032px;
        width: 100%;
        margin: 0 auto;
        padding-top: 115px;
        padding-bottom: 60px;

        .row{
            .col{
                width: 30%;
                .head{
                    position: relative;
                    padding-bottom: 13px;
                    p{
                        height: 75px;
                        font-size: 21px;
                        line-height: 30px;
                        color: #48606B;
                    }
                    .line{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 36px;
                        background-color: #9DE7D2;
                    }
                }

                .content{
                    padding-top: 24px;
                    p{
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 12px;
                        line-height: 26px;
                        color: #5A6163;
                    }
                }
            }
            .bt-wrap{
                margin-top: 120px;
                p{
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 14px;
                    line-height: 26px;
                    color: #60768D;
                    padding-right: 42px;
                }
                a{
                    padding: 14px 38px;
                    border: 1px solid #0A253D;
                    font-size: 12px;
                    line-height: 11px;
                    text-align: center;
                    letter-spacing: 1.94737px;
                    text-transform: uppercase;
                    color: #0A253D;

                    &:hover{
                        border: 1px solid #0A253D;
                        background-color: #0A253D;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// section 4

section.graph{
    background-color: #0A253D;
    .container{
        max-width: 986px;
        width: 100%;
        margin: 0 auto;
        padding: 144px 0;
        .row{
            h2{
                @extend .griffithgothiclight;
                font-weight: 300;
                font-size: 28px;
                line-height: 43px;
                color: #fff;
                padding-bottom: 32px;
            }
            p{
                width: 100%;
                @extend .AtlasGrotesk-Regular-Web;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                color: #fff;
            }

            .inner-block{
                margin-top: 40px;
                > .col{
                    width: 309px;
                    .head{
                        p{
                            border-top: 1px solid rgba(150, 150, 150, .4);
                            border-bottom: 1px solid rgba(150, 150, 150, .4);
                            -webkit-background-clip: padding-box; /* for Safari */
                            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                            font-size: 14px;
                            line-height: 34px;
                            color: #fff;
                            padding-left: 20px;
                        }
                    }
                    .graph-wrap{
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-around;
                        height: 300px;
                        border-bottom: 1px solid rgba(150, 150, 150, .4);
                        -webkit-background-clip: padding-box; /* for Safari */
                        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                    
                        .col{
                            display: flex;
                            flex-direction: column-reverse;
                            @include transition(1.5s ease-in-out);

                            span.graph-line{
                                width:30px;
                                padding: 0;
                                height: 0;
                                @include transition(1.5s ease-in-out);
                            }
                            span.per{
                                opacity: 0;
                                @extend .AtlasGrotesk-Regular-Web;
                                font-size: 13px;
                                line-height: 26px;
                                color: #929292;
                                padding-bottom: 5px;

                                &.active{
                                    opacity: 1;
                                    animation-delay: 7s;
                                    @include transition(3s ease-in-out);
                                }
                            }
                        }
                    }
                    // height calc by 4.8 x 12 (height of 300,  taken 4% means 12 and multiply with graph percentage)  
                    .graph1{
                        &.active{
                            .col{
                                .msci{
                                    @include transition(1.5s ease-in-out);
                                    height: 57.6px;
                                    background-color: #677586;
                                }
                                .sp{
                                    @include transition(1.5s ease-in-out);
                                    height: 88.8px;
                                    background-color: #706E6A;
                                }
                                .pooled{
                                    @include transition(1.5s ease-in-out);
                                    height: 105.6px;
                                    background-color: #E4E0D5;
                                }
                                .quartile{
                                    @include transition(1.5s ease-in-out);
                                    height: 182.4px;
                                    background-color: #9DE7D2;
                                }
                            }
                        }
                    }
                    .graph2{
                        &.active{
                            .col{
                                .msci{
                                    @include transition(1.5s ease-in-out);
                                    height: 115.2px;
                                    background-color: #677586;
                                }
                                .sp{
                                    @include transition(1.5s ease-in-out);
                                    height: 120px;
                                    background-color: #706E6A;
                                }
                                .pooled{
                                    @include transition(1.5s ease-in-out);
                                    height: 150px;
                                    background-color: #E4E0D5;
                                }
                                .quartile{
                                    @include transition(1.5s ease-in-out);
                                    height: 219.6px;
                                    background-color: #9DE7D2;
                                }
                            }
                        }
                    }
                    .graph3{
                        &.active{
                            .col{
                                .msci{
                                    @include transition(1.5s ease-in-out);
                                    height: 73.2px;
                                    background-color: #677586;
                                }
                                .sp{
                                    @include transition(1.5s ease-in-out);
                                    height: 84px;
                                    background-color: #706E6A;
                                }
                                .pooled{
                                    @include transition(1.5s ease-in-out);
                                    height: 152.4px;
                                    background-color: #E4E0D5;
                                }
                                .quartile{
                                    @include transition(1.5s ease-in-out);
                                    height: 222px;
                                    background-color: #9DE7D2;
                                }
                            }
                        }
                    }
                }
            }
            .ft-wrap{
                padding-top: 40px;
                max-width: 688px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .col{
                    span{
                        display: block;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        @include border-radius(50%);

                        &.one{
                            background-color: #677586;
                        }
                        &.two{
                            background-color: #706E6A;
                        }
                        &.three{
                            background-color: #E4E0D5;
                        }
                        &.four{
                            background-color: #9DE7D2;
                        }
                    }
                    p{
                        padding-left: 14px;
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 13px;
                        line-height: 16px;
                        color: #fff;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}


// section 5
section.portfolio{
    padding: 110px 0 90px;
    background-color: #faf8f2;
    .container{
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
        .block-1{
            h2{            
                padding: 0 116px;
                @extend .griffithgothiclight;
                font-size: 41px;
                line-height: 60px;
                color: #000000;
            }
            .row{   
                //background: linear-gradient(#faf8f2, #d9d9d8);         
                padding: 0 116px;
                margin-top: 18px;
                p{
                    @extend .AtlasGrotesk-Light-Web;
                    font-size: 16px;
                    line-height: 24px;
                    color: #60768D;
                }
                .inner-row{
                    align-items: stretch;
                    margin-top: 44px;
                    .col{
                        width: 50%;
                        .block{
                            max-width: 388px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            align-items: flex-start;                       
                            p{
                                @extend .AtlasGrotesk-Regular-Web;
                                font-size: 12px;
                                line-height: 26px;
                            }
                            .bt-wrap{
                                margin-bottom: 40px;
                                p{
                                    @extend .AtlasGrotesk-Regular-Web;
                                    font-size: 14px;
                                    line-height: 26px;
                                    color: #60768D;
                                    padding-right: 42px;
                                }
                                a{
                                    padding: 14px 38px;
                                    border: 1px solid #0A253D;
                                    font-size: 12px;
                                    line-height: 11px;
                                    text-align: center;
                                    letter-spacing: 1.94737px;
                                    text-transform: uppercase;
                                    color: #0A253D;

                                    &:hover{
                                        border: 1px solid #0A253D;
                                        background-color: #0A253D;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        img{
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
    
            }
        }
        .block-2{
            background: url(../../images/bg-img.jpg) no-repeat top;
            background-size: contain;
            height: 387px;
            margin-top: 72px;

            .row{
                max-width: 1062px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 60px 180px;
                background: rgb(255, 255, 255);
                background: rgba(255, 255, 255, 0.603529);
                backdrop-filter: blur(67.957px);

                .col{
                    width: 25%;
                    p{
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 12px;
                        line-height: 15px;
                        color: #113B65;
                        padding-bottom: 22px;
                    }
                    p.num{
                        @extend .griffithgothiclight;
                        font-size: 40px;
                        line-height: 29px;
                        color: #1F476E;

                        span{
                            @extend .griffithgothicregular;
                            font-size: 17px;
                            line-height: 29px;
                            color: #1F476E;
                        }
                    }
                }
            }
        }
        .block-3{
            max-width: 845px;
            width: 100%;
            margin: 0 auto;
            padding-top: 124px;
            .col{
                width:214px;

                h4{
                    font-size: 16px;
                    line-height: 29px;
                    color: #000000;
                    margin-bottom: 20px;
                }
                p{
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 12px;
                    line-height: 26px;
                    color: #000000;
                    mix-blend-mode: normal;
                    opacity: 0.7;
                }
            }
        }
    }
}




// section 6
section.fingertips{
    background: url(../../images/banner-fingertips.jpg) no-repeat;
    background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 818px;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    .container{
        .block{
            width: 343px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 170px;
            margin-left: 235px;
            h2{
                @extend .griffithgothiclight;
                font-size: 31px;
                line-height: 48px;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            p{
                @extend .griffithgothiclight;
                font-size: 20px;
                line-height: 36px;
                color: #FFFFFF;
            }
            .bt-wrap{
                margin-top: 80px;
                p{
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 14px;
                    line-height: 26px;
                    color: #fff;
                    padding-right: 42px;
                }
                a{
                    padding: 14px 38px;
                    border: 1px solid #0A253D;
                    font-size: 12px;
                    line-height: 11px;
                    text-align: center;
                    letter-spacing: 1.94737px;
                    text-transform: uppercase;
                    color: #0A253D;

                    &:hover{
                        border: 1px solid #0A253D;
                        background-color: #0A253D;
                        color: #fff;
                    }
                }
            }
        }
    }
}



// how it work

section.banner-work{
    position: relative;
    height: 683px;
    overflow: hidden;

    .parallax{
        background: url(../../images/ice.png) no-repeat top;
        //background-size: cover;
        height: 100vh;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .container{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        z-index: 1;

        .box{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
            z-index: 1;
            
            h1{
                @extend .griffithgothicregular;
                padding:40px 150px;
                width: 100%;
                font-size: 48px;
                line-height: 65px;
                color: #10395E;
                //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background: linear-gradient(180deg, #FAF8F2 0%, rgba(250, 248, 242, 0.532425) 83.91%);
            }
        }
    }
}
section.work-head {
    position: relative;
    overflow: hidden;
    height: 573px;
    background-color: #0f2a47;

    .container {
        padding: 0 100px;
        height: 100%;
        flex-direction: column;
        max-width: 814px;
        margin: 0 auto;
        width: 100%;

        h1 {
            @extend .AtlasGrotesk-Regular-Web;
            font-size: 49px;
            line-height: 53px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 72px;
        }
        p{
            @extend .AtlasGrotesk-Regular-Web;
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

section.path-private{
    padding: 100px 0;
    background: #FAF8F2;

    .container{
        max-width: 1075px;
        width: 100%;
        margin: 0 auto;

        h2{
            font-size: 28px;
            line-height: 43px;
            color: #253D53;
            padding-bottom: 52px;
        }
        .row{
            > p{
                font-size: 12px;
                line-height: 26px;
                color: #BDBDBD;
                padding-bottom: 52px;
            }
            .path-wrap{
                p{
                    font-size: 21px;
                    line-height: 30px;
                    color: #B8BECA;
                }
                span{
                    padding: 0 16px;
                }
            }
            .bt-wrap{
                margin-top: 120px;
                p{
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 14px;
                    line-height: 26px;
                    color: #6E8299;
                    padding-right: 42px;
                }
                a{
                    padding: 14px 38px;
                    border: 1px solid #9DE7D3;
                    font-size: 12px;
                    line-height: 11px;
                    text-align: center;
                    letter-spacing: 1.94737px;
                    text-transform: uppercase;
                    color: #0A253D;

                    &:hover{
                        border: 1px solid #0A253D;
                        background-color: #0A253D;
                        color: #fff;
                    }
                }
            }
        }
    }
}


section.work-body{
    //background-color: #faf8f2;
    .container{
        max-width: 1092px;
        width: 100%;
        margin: 0 auto;
        padding: 140px 0px;

        .row{
            justify-content: space-between;
            align-items: flex-end;
            padding: 50px 0;

            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                padding-bottom: 0;
            }
            .col{
                width: 50%;
                .img-box{
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                &.lhs{
                    max-width: 345px;
                    width: 100%;
                    padding-bottom: 10px;
                }
                p.num{
                    display: inline-block;
                    padding: 10px 13px 5px;
                    mix-blend-mode: normal;
                    border: 1px solid rgba(72, 96, 107, 0.4);                    
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 14px;
                    line-height: 17px;
                    color: #6E8296;
                }
                .head{
                    margin-top: 28px;
                    position: relative;
                    padding-bottom: 24px;
                    p{
                        //height: 75px;
                        font-size: 21px;
                        line-height: 30px;
                        color: #48606B;
                    }
                    .line{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 36px;
                        background-color: #9DE7D2;
                    }
                }
                .content{
                    padding-top: 24px;
                    p{
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 12px;
                        line-height: 26px;
                        color: #A0A3A6;;
                        padding-bottom: 16px;
                    }
                    span{
                        font-size: 12px;
                        line-height: 26px;
                        color: #CAC5B9;
                    }
                }
            }
        }
    }
}



section.accordion-body{
    padding: 140px 0;
    background: #FAF8F2;
    .container{
        max-width: 924px;
        width: 100%;
        display: block;
        margin: 0 auto;

        .acc-wrap{
            position: relative;
            
            p.sec-desc{
                position: relative;
                @extend .AtlasGrotesk-Light-Web;
                font-size: 17px;
                line-height: 36px;
                color: #60768D;
                padding-right: 40px;
                border-top: 1px solid rgba(151, 151, 151, 0.2);
                //border-bottom: 1px solid rgba(151, 151, 151, 0.2);
                cursor: pointer;
                padding: 14px 0;
                padding-left: 10px;

                &:first-child{
                    border-top: 1px solid rgba(151, 151, 151, 0.2);
                }

                &.active{
                    color: #0A253D;
                    border-bottom: none;
                }
                &.active::after {
                    content: '-';
                }
                &::after {
                    content: '+';
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -18px;
                    display: block;
                    font-size: 27px;
                }
            }
            p.sec-desc-last{
                border-bottom: 1px solid rgba(151, 151, 151, 0.2);
            }
            .content{
                //display: none;
                max-height: 0;
                overflow: hidden;
                

                p{
                    padding: 20px 10px;
                    @extend .AtlasGrotesk-Regular-Web;
                    font-size: 12px;
                    line-height: 26px;
                    color: #5A6163;
                }
                ul{
                    margin-left: 27px;
                    margin-bottom: 24px;
                    li{
                        list-style-type: disc;
                        @extend .AtlasGrotesk-Regular-Web;
                        font-size: 12px;
                        line-height: 20px;
                        color: #5A6163;
                        padding-left: 4px;
                        padding-bottom: 12px;

                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}






// footer

footer{
    background-color: #0A253D;

    .row{
        &:first-child{
            border-bottom: 1px solid rgba(150, 150, 150, .2);
        }
        &:last-child{
            p{
                @extend .AtlasGrotesk-Regular-Web;
                font-size: 12px;
                line-height: 26px;
                color: #ADA79C;
                padding-bottom: 24px;

                &:last-child{
                    padding-bottom: 0;
                }

            }
        }
        .container{
            max-width: 1045px;
            width: 100%;
            margin: 0 auto;
            padding: 70px 0;

            .col{
                ul{
                    li{
                        padding-left: 14px;
                        &:first-child{
                            padding-left: 0;
                        }
                        a{
                            @extend .AtlasGrotesk-Regular-Web;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: right;
                            color: #ADA79C;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                
                                    
                .subscribe_form {
                    max-width: 345px;
                    width: 100%;
                    margin-bottom: 66px;
                    
                   .input-group{
                       display: flex;
                        input {
                            padding: 0 10px;
                            width: 201px;
                            height: 27px;
                            //border-right: 1px solid #113B65;
                        }
                        button {
                            cursor: pointer;
                            @extend .griffithgothicregular;
                            font-size: 12px;
                            text-align: center;
                            letter-spacing: 1.94737px;
                            text-transform: uppercase;

                            border: 1px solid #fff;
                            height: 27px;
                            background-color: #0A253D;
                            color: #fff;
                            //margin: -5px;
                            border-radius: 0;
                            width: 145px;
                            text-transform: uppercase;
                            position: relative;
                            transition: all ease 0.3s;
                            @include transition(.3s ease);
                            
                                                
                            &:hover{
                                border-left: 1px solid #0A253D;
                                background-color: #fff;
                                color: #0A253D;
                            }
                        }
                    }
                }
                
            }
        }
    }
}


.landscape-wrap{
    
    .phone {
        height: 100px;
        width: 50px;
        border: 3px solid white;
        border-radius: 10px;
        animation: rotate 1.5s ease-in-out infinite alternate;
        display: none;
        @include transition(.3s ease-in-out);
    
    
    }
    .message {
        color: white;
        font-size: 20px;
        letter-spacing: 7px;
        margin-bottom: 20px;
        display: none;
        @include transition(.3s ease-in-out);
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg)
        }
        50% {
            transform: rotate(-90deg)
        }
        100% {
            transform: rotate(-90deg)
        }
    }
}


